@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');

nav {
    border-bottom: 1px solid;
    padding: 16px;
    background-color: aquamarine;
    color: blue
}

body {
    box-sizing: border-box;
    font-family: 'Phudu'
}

.hover-link:hover {
    color: red;
    transition: .5s;

}

.img-shadow {
    box-shadow: 0px 8px 8px 0px;
    margin-block: 10px;
}

main {
    padding: 20px;
}

footer {
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 0px;
    padding-bottom: 24px;
    background-color: aqua;
    color: darkgreen;
}

img {
    height: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto 1fr;
}

div a {
    color: brown;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    test-decoration: none
}

.smol {
    font-variant: small-caps;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}
